pkgbase = mpplus-essentia
	pkgdesc = NCurses character based MPD client
	pkgver = v1.0.0r1
	pkgrel = 1
	url = https://github.com/doctorfree/mpplus-essentia
	install = mpplus-essentia.install
	arch = x86_64
	arch = armv7h
	license = GPL2
	makedepends = boost
	makedepends = git
	makedepends = pandoc
	makedepends = zip
	depends = boost-libs
	depends = libcurl-compat
	depends = libmpdclient
	depends = ncurses
	depends = readline
	depends = taglib
	depends = mpc
	depends = python
	depends = python-pip
	depends = fftw
	source = mpplus-essentia::git+https://github.com/doctorfree/mpplus-essentia.git
	sha256sums = SKIP

pkgname = mpplus-essentia
